/.idea/

/.bundle/

/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml

/bin/*
!bin/.gitkeep
!bin/setup*

/build/
/vendor/

/composer.phar

/.vagrant/local.json
/.vagrant/machines/

/web/uploads/*
!web/uploads/media/.gitkeep

/web/bundles/
/web/robots.txt
