<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {# @see http://brains.production.adwatch.ru/nestle/checklist #}
        <script type="text/javascript">
            if (self == top) {
                document.documentElement.style.display = 'block';
            } else {
                top.location = self.location;
            }
        </script>

        {{ js_context() }}
    </head>
    <body>
        <div id="wrapper">
            <div id="container">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
            </div>
        </div>
    </body>
</html>
