body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
h1 { font-size: 36px; }
h2 { font-size: 21px; margin-bottom: 1em; }
p { margin: 0 0 1em 0; }
a { color: #0000F0; }
a:hover { text-decoration: none; }
code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
#wrapper { margin: 1em auto; max-width: 1000px; width: 95%; }
.logo {max-width: 900px; width: 95%;}
#container { padding: 2em; }
#welcome, #status { margin-bottom: 2em; }
#welcome h1 span { display: block; font-size: 75%; }
#icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
#icon-book { display: none; }

@media (min-width: 768px) {
    #wrapper { width: 80%; margin: 2em auto; }
    #icon-book { display: inline-block; }
    #status a, #next a { display: block; }

    @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
}

body {
    background: #2b559d;
    color: white;
    font-size: 20px;
}
a {
    color: #79d0dd
}
#container {
    background: #195b9d;
}
.que-table-title {
    width: 300px;
}
.que-table-cost {
    padding: 25px 25px;
    text-align: center;
}
.que-table a {
    text-decoration: none;
    font-weight: 600;
}
.scores {
    margin: 25px;
    padding: 10px;
}
.team-scores {
    float: left;
    margin-right: 20px;
}
.hints {
    margin-top: 30px;
}
.answer, .back-to-question {
    margin-top: 30px;
    text-align: center;
}
.answer a, .back-to-question a, .tours a {
    text-decoration: none;
    font-weight: bold;
}
.hint-list{
    float: left;
}
.clearfix {
    clear: both;
}
.who-answered-right {
    margin-top: 30px;
    text-align: center;
}
.right-answer {
    text-align: center;
}
.right-answer img {
    margin-top: 15px;
}
#welcome {
    text-align: center;
}
.svoya-fignya a {
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
}
.tours li {
    padding: 10px;
}
.scored {
    width: 200px;
    background-color: #ff1a81;
    padding: 10px;
}
#form_team input {
    margin: 25px 10px;
}
.center {
    text-align: center;
}

/*border*/
.tours li, .scores, .que-table-cost, .scored {
    border: #1e369d solid 2px;
}
/*yellow*/
.svoya-fignya a, .que-table a, .answer a, .back-to-question a, .tours a, .scored {
    color: #ddb807;
}
/*size*/
.tours, .que-table a, .answer, .scored, #form_team label {
    font-size: 30px;
}
