{% extends 'base.html.twig' %}

{% block body %}
    <div id="welcome">
        <h1>Привет, друзья, и добро пожаловать в <a href="{{ path('app_catalogue__product') }}">СВОЮ ФИГНЮ</a>!!</h1>
    </div>
{% endblock %}