{% extends 'base.html.twig' %}
{% block title %}СВОЯ ФИГНЯЯЯ!{% endblock %}
{% block body %}
    <div>
        Итак, вы в СВОЕЙ ФИГНЕ!!
    </div>
    <div>
        Вам предстоит поделиться на 3 команды и сыграть 3 тура, чтобы выяснить, чья тут фигня! Ура!
    </div>
    <div>Го!</div>
    <ul class="tours">
        {% for tour in tours %}
            <li><a href="{{ path('tour', {'tour_slug': tour.slug }) }}">{{ tour.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}