{% extends 'base.html.twig' %}
{% block title %}{{ hint.title }}{% endblock %}
{% block body %}
    <div>
        <h2>{{ hint.title }}</h2>
        {{ hint.text|raw }}
    </div>

    <div class="back-to-question">
        <a href="{{ path('question', {'category_slug': question.category.slug, 'cost': question.cost}) }}">Назад к вопросу!</a>
    </div>
{% endblock %}